.menu-bar {
    /* background-color: #333; */
    width: 100%;
    color: #333333;
    margin: 0;
  }
  
  .menu-bar nav {
    display: flex;
    align-items: left;
    /* align-items: baseline; */
    /* align-items: center; */
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
    padding: 0;
    /* margin-left: 0.5%; */
    margin-left: 2%;
    margin-top: 0;;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .menu-bar li {
    /* margin: 0 30px; */
    margin-left: 0%;
    margin-right: 5%;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer; /* Add cursor pointer for better interaction */
    /* font-size: 6vmin; */
  }
  
  .upper li:hover {
    transform: translateY(-5px); /* Move the item up a bit*/
    /* color: #ff9900; Slightly change the color */
    color: #ff9500;
    /* background-color: #C1DAE3; */
    /* #5465ff; */
  }

  .lower li:hover {
    transform: translateY(-5px); /* Move the item up a bit*/
    /* color: #ff9900; Slightly change the color */
    color: #FF1600;
    /* background-color: #C1DAE3; */
    /* #5465ff; */
  }

  .upper li:hover,
  .upper .clicked { 
  color: #ff9500;
  }

  .lower li:hover,
  .lower .clicked { 
  color: #FF1600;
  }
  