
h1 {
    text-align: left;
    margin-left: 2%;
    padding: 0;
    /* margin-block-start: 0; */
    /* margin: 0; */
    /* margin-left: 1em; */
    padding-top: 0.5%;
    font-size: 8vmin; 
    color: #333333;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .colorful-text {
    font-size: 8vmin;
    color: #333333;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .colorful-letter {
    display: inline-block;
  }
  
  .colorful-letter:hover {
    transform: translateY(-5px);
  }
  
  /* .colorful-text:hover .colorful-letter {
    color: black;
  } */
  
  .colorful-text:hover .colorful-letter:hover {
    color: var(--assigned-color);
  }

  /* colorful-text {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  .colorful-letter {
    display: inline-block;
  }
  
  .colorful-letter:hover {
    transform: translateY(-5px);
    color: var(--assigned-color);
  } */